@import "./layout.css";
@import "./startpage.css";

.quote-link {
    display: block;
    margin-bottom: 1rem;
}

.quote-link img {
    width: 66%;
}

.post-body {
    font-size: 1.125rem;
    margin-bottom: 10rem;
}