@import "./layout.css";
@import "./startpage.css";
@import "./showcase.css";

.quote-link {
    display: block;
    margin-bottom: 1rem;
}

.quote-link img {
    width: 66%;
}

.post-body {
    font-size: 1.125rem;
    margin-bottom: 10rem;
}

.partner {
    background-color: white;
    padding: 1rem;
    box-shadow: 0 1px 2px 1px rgb(7 54 66 / 0.2);
    border-radius: 6px;
    margin-right: 1rem;
    margin-bottom: 2rem;
    max-width: 420px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    min-height: 320px;
    display: flex;
    flex-direction: column;
}

.partner > img {
    width: 50%;
    padding-bottom: 2rem;
    max-height: 200px;
}

.partner-badge {
    height: 6rem;
    border-radius: 8px;
}

.partner .description {
    color: rgb(153, 159, 185);
}

.event-header {
    background: linear-gradient(90deg, hsl(192 82% 25% / 1) 7%, hsl(192 80% 39% / 1) 53%, hsl(192 82% 24% / 1) 100%) !important;
    font-size: 16px;
}